.add_form {
flex: auto;
text-align: center;
align-items: center;
padding: 0 33% 0 33%
}

#legend {
   text-align: left;
   font-size: large;
   border-style: solid;
   border-width: 3px;
   padding: 5px;
}

.border {
 border-style: solid;
 border-width: 3px;
}

#Signuptext #Termstext {
    position: relative;
    max-width: 100px;
    display: block;
}
